$H-font-family: mukta-bold;
$P-font-family: poppins-regular;

$body-bg: #f0f0f0;
$btn-color: #36a869;
$btn-hover: #2e9b5f;
$btn-shadow: #53c485;
$input-shadow: #b4b4b4;
$input-bg: #f5f5f5;
$input-active-shadow1: #1d74e6;
$input-active-shadow2: #4dafd6b2;
$block-short-inf-bg: #f5f5f5;
